@font-face {
    font-family: 'CodecPro';
    src: url(/assets/fonts/CodecPro-Regular.ttf);
}

@font-face {
    font-family: "CodecPro ExtraBold";
    src: url(/assets/fonts/codec-pro-extrabold.ttf);
}

:root {
    --font-title: 'CodecPro ExtraBold';
    --font-text: 'CodecPro';
    --color-title: #9340FF;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #101728;
    color: #fff;
}

.img-content-1, .img-content-3, .img-content-4, .img-content-5 {
    width: 450px;
    height: 450px;
    background-size: cover;
    border-radius: 25px;
} 

.container-logo>img {
    width: 50px;
}

.container-logo {
    display: flex;
    margin-top: 50px;
    margin-left: 50px;
}

.container-logo>p {
    font-family: var(--font-title);
    font-size: 2rem;
    margin-left: 20px;
}


/*Seccion 1*/

.content-1 {
    display: flex;
}

.wrapper-text {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.wrapper-text > h1 {
    font-family: var(--font-title);
    font-size: 3.5rem;
    margin-top: 150px;
}

.wrapper-text > p {
    font-family: var(--font-text);
    font-size: 1.5rem;
    background-color: #9340FF;
    align-self: flex-start;
    border-radius: 50px;
    padding: 30px;
    margin-top: auto;
    color: #000;
    font-weight: bold;
}

.img-content-1 {
    background-image: url(../images/img_mobile_1.jpg);
    background-position: center;
    margin-left: auto;
    margin-right: 150px;
}


/*Seccion 2*/

article {
    width: 930px;
    margin: 250px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-items:center; */

}

.p1 {
    font-size: 3.5rem;
    color: #9340FF;
    font-family: var(--font-title);
    margin-bottom: 100px;
}

.p2 {
    font-family: var(--font-text);
    font-size: 1.5rem;
    line-height: 1.3;
}

/*Seccion 3*/
.content-3 {
    display: flex;
    margin-left: 40px;
}

.wrapper-text-3 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    
}

.wrapper-text-3 > h1 {
    font-family: var(--font-title);
    font-size: 3.5rem;
    color:var(--color-title)

}

.wrapper-text-3 > *.text {
    align-self: flex-start;
    margin-top:50px;
}

.text {
    font-family: var(--font-text);
    font-size: 1.2rem;
    line-height: 1.5;
}
 
.img-content-3 {
    background-image: url(../images/img_mobile_2.jpg);
    background-position: center;
    margin-left: auto;
    margin-right: 150px;
}

/*Seccion 4 */

.content-4 {
    display:flex;
    margin-top:250px;
}

.wrapper-text-4 {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
.wrapper-text-4 > h1 {
    font-size: 3.5rem;
    font-family: var(--font-title);
    color: var(--color-title);
    margin-right:15px;
}

.wrapper-text-4 > p {
    font-family: var(--font-text);
    font-size: 1.3rem;
    margin-top: 50px;
    line-height: 1.5;
}

.img-content-4 {
    background-image: url(../images/img_mobile_3.jpg);
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

/*seccion 5 */

.content-5 {
    margin-top: 250px;
    display: flex;
}

.wrapper-text-5 {
    display: flex;
    flex-direction: column;
    margin-left:80px
}

.wrapper-text-5 > h1 {
    font-size: 3.5rem;
    font-family: var(--font-title);
    color: var(--color-title);
}

.wrapper-text-5 > p {
    font-family: var(--font-text);
    font-size: 1.3rem;
    margin-top: 50px;
    line-height: 1.5;
}

.img-content-5 {
    background-image: url(../images/img_mobile_4.jpg);
    background-position: left;
    margin-left: auto;
    margin-right: 150px;
}


/*Seccion footer*/

.section-footer {
    display: flex;
    margin-top: 250px;
    margin-bottom: 100px;
    
}
.section-footer > h1 {
    font-family: var(--font-title);
    font-size: 3rem;
    color: var(--color-title);
    
}

.container-logo-footer {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    
}

.container-logo-footer > img  {
    width: 50px;
    margin-bottom:auto;
}

.container-logo-footer > p {
    font-family: var(--font-title);
    font-size: 2rem;
    margin-left:10px;
}

.info {
    display:flex;
    flex-direction: column;
    margin-left:auto;
    margin-right: 100px;
}

.info > h1 {
    font-family: var(--font-title);
    font-size: 3rem;
    color:var(--color-title)
}

.info > li {
    font-family: var(--font-text);
    font-size: 1.5rem;
    margin-top: 30px;
}

.icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    margin-right: 280px;
    margin-bottom: 200px;
}

.icons > li {
    font-size: 2.5rem;
    margin-right: 15px;
}